*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.password{
    max-width: 400px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

.password h2{
    color: rgb(0, 89, 255);
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-group,.checkbox-group,.generated-password{
    margin-bottom: 15px;
}
.checkbox-group{
    display: flex;
    align-items: center   ;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"]{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkbox-group input{
    margin-right: 5px;
}

.gen-pass{
    padding: 10px 20px;
    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.gen-pass:hover{
    cursor: pointer;
    background-color:  rgb(65, 96, 160);
}

.generated-password {
display: flex;
border: 1px solid #ccc;
border-radius: 4px;
overflow: hidden;
}

input[type="text"]{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
}

.copy-btn{
    border: none;
    background-color: green;
    color: white;
    padding: 5px;
}



